body {
  font-family: 'Nunito', sans-serif;
  background: url(http://orig14.deviantart.net/9a9d/f/2016/068/a/8/dark_geometric_wallpaper___fullhd___1080p_by_dearvoodoo-d9ujiwe.png) center repeat;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#about, #resume, #projects, #contact {
  background-color: rgba(248,248,250,0.3);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 1%;
  color: white;
}

img {
  display: block;
  margin: 0;
}

.jumbotron {
  background-color: rgba(200, 54, 54, 0.3);
}

#title {
  padding-top: 10px;
  padding-bottom: 0;
  text-align: center;
}

#title img {
  position:relative;
  right: -300px;
  max-width:100%;
  max-height: 100%;
  transform: rotate(3deg);
  border-radius: 50%;
}

.page-header h1 {
  font-weight: bolder;
  border-bottom: 0px;
}

#contact {
  padding-top: 10px;
  padding-bottom: 0px;
}

.section .row {
  padding-left: 10px;
  padding-right: 10px;
}

.resume-buttons p {
  margin: 15px;
  float: right;
}

.degrees p:first-child, .jobs p:first-child {
  font-weight: bolder;
}

#projects {
  color: white;
}

h3 {
  text-align: center;
}

span {
  font-weight: bold;
}

ul li {
    list-style-type: none;
    display: inline;
    padding:1.5px;
}

.section-title {
  text-align: left;
}

.thumbnail {
  background-color: rgba(49, 49, 49, 0.6);
  border: 1px solid #343d46;
}

.thumbnail img {
  width: 230px;
  height: 213px;
  max-width: 100%;
  max-height: 100%;
}

#contact ul li {
    float: right;
    margin-right:10px;
}
